$card-color: #e98074;
$text: #404040;
$background: #eae7dc;
$nav: #e85a4f;
$text-back: rgba(0, 0, 0, .4);

body {
  height: 100%;
}

.home-image {
  background-image: linear-gradient($text-back, $text-back), url('./travel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}

.home-text {
  color: $background;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: bold;
}

h3 {
  font-size: 24px;
}
