$card-color: #e98074;
$text: #404040;
$background: #eae7dc;
$nav: #e85a4f;
$link-back: rgba(240, 240, 240, .7);
$text-back: rgba(0, 0, 0, .4);
$card-back: rgba(0, 0, 0, .1);
$teal: rgb(47, 160, 162);
$bright-red: #c3002d;

.card-title {
  color: $teal;
  // text-shadow: 2px 2px 1px $teal;
}

.link {
  background: $link-back;
  border-radius: 5px;
  color: $text;
  padding: 3px;
}

.trip-card {
  background-image: linear-gradient($card-back, $card-back), url('./passport.jpg');
  justify-content: space-between;
  margin: 10px;
  width: 300px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.message {
  color: $nav;
  font-size: 30px;
  margin: 40px;
  text-align: center;
}

h1 {
  color: $text;
}

p {
  color: $text;
}
