$card-color: #e98074;
$text: #404040;
$background: #eae7dc;
$nav: #e85a4f;
$link-back: rgba(240, 240, 240, .7);

.link {
  background: $link-back;
  border-radius: 5px;
  color: $text;
  padding: 3px;
}

.trip-card {
  background-color: $card-color;
  color: $text;
  margin: 15px;
  width: 300px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
}
