$success: #d8c3a5;
$warning: #f1e681;
$error: #e0b29d;
$charcoal: #ccc;

$card-color: #e98074;
$text: #404040;
$background: #eae7dc;
$nav: #e85a4f;

body {
  background-color: $background;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  border-radius: 5px;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form,
.trip-form {
  background-color: $card-color;
  border-radius: 5px;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;
  padding: 20px;
}

h3 {
  font-weight: bolder;
}

h3,
input {
  margin-bottom: 5%;
}

button {
  align-self: flex-end;
  max-width: 200px;
}

h2,
input {
  margin-bottom: 5%;
}
